/*! OVERRIDE EXISTING CSS TO CHANGE STRUCTURE */

.ddb-campaigns-character-card-header {
    padding: 20px !important;
}
.ddb-campaigns-character-card-footer-links {
    height: 40px !important;
}

/*! ADD CSS FOR NEW ELEMENTS ON CHARACTER CARDS */

.ddb-lc-character-stats {
    display: flex;
    gap: 10px;
}
.ddb-lc-character-stats > * {
    height: 55px;
}
.ddb-lc-character-stats-armorclass {
    width: 50px;
    margin-left: 6px;
    background-color: yellow;
}
.ddb-lc-character-stats-hitpoints {
    width: 50px;
    background-color: lime;
}
.ddb-lc-character-stats-initiative {
    width: 50px;
    background-color: cyan;
}
.ddb-lc-character-stats-passives {
    flex: 1;
    background-color: magenta;
}