/*! OVERRIDE EXISTING CSS TO CHANGE STRUCTURE */

.ddb-campaigns-character-card-header {
    padding: 20px !important;
}
.ddb-campaigns-character-card-footer-links {
    height: 40px !important;
}

/*! ADD CSS FOR NEW ELEMENTS ON CHARACTER CARDS */

.ddb-lc-character-expanded {
    display: block;
    /* z-index: 1; */
}
.ddb-lc-character-stats {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0px;
}
.ddb-lc-character-stats > * {
    height: 55px;
}
/* -- Armor Class -- */
.ddb-lc-character-stats-armorclass {
    display: block;
    position: relative;
    width: 50px;
    margin-left: 6px;
    background-color: yellow;
}
.ddb-lc-character-stats-armorclass span {
    display: block;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
.ddb-lc-character-stats-armorclass svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ddb-lc-character-stats-hitpoints {
    display: block;
    position: relative;
    width: 50px;
    background-color: lime;
}
.ddb-lc-character-stats-initiative {
    display: block;
    width: 50px;
    background-color: cyan;
}
.ddb-lc-character-stats-passives {
    display: block;
    flex: 1;
    background-color: magenta;
}