/* Version 3.0.2 CSS */

/** Overriding Existing CSS **/

#site-main > .container {
	max-width: 1400px !important;
}

.page-header {
    max-width: 1400px !important;
}

.ddb-campaigns-character-card-header {
	padding: 5px;
	flex-grow: 1;
}
.ddb-campaigns-character-card-wrapper {
	width: unset;
	max-width: unset;
	display: flex;
}
.rpgcharacter-listing {
	flex-direction: row;
	flex-wrap: wrap;
}
.ddb-campaigns-character-card {
	display: flex;
	flex-direction: column;
	width: 250px;
	/*! width: 30%; */
}

.ddb-campaigns-character-card-footer{
	padding: 0 10px;
}

.gs-box-background .ddbc-svg {
   width: 100%;
   height: 100%;
}

.ddb-campaigns-character-card-header-upper-character-info-primary{
	display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
  word-wrap: normal;

  font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
}

.ddb-campaigns-detail-header-secondary-sharing .sharing-header {
	display: inline-block;
	padding: unset;
}

a.ddb-campaigns-detail-body-listing-campaign-link, a#content-management-link, .ddb-campaigns-invite-wrapper {
	padding: 6px 10px;
}

.flat-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 40px;
    z-index: 1;
	padding-bottom: 20px;
    position: relative;
	width: 100%;
    margin: 0 auto;
}

.flat-list .gs-field {
    width: 20% !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 1%;
}

.gs-controls {
    border-color: #bc0f0f;
    border-top: 3px solid #1b9af0;
    border-bottom-color: rgb(27, 154, 240);
    padding-bottom: 8px;
    padding-top: 16px;
}

.gs-controls {
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.04);
	padding: 15px;
	border-radius: 3px;
}

.form-field input[type=number] {
	padding: 0 10px;
	border-radius: 0;
	height: 50px;
	background-color: white;
	box-shadow: inset 0 0 4px 0 rgba(138,177,198,0.48);
	border: solid 1px #d8dde3;
	box-sizing: border-box;
	font-size: 15px !important;
	margin: 0 auto;
	-webkit-transition: .2s linear border,0.2s linear box-shadow;
  -moz-transition: .2s linear border,0.2s linear box-shadow;
  transition: .2s linear border,0.2s linear box-shadow;
}

.form-field input[type=checkbox] {
	padding: 0 10px;
	border-radius: 0;
	height: 10px;
	background-color: white;
	box-shadow: inset 0 0 4px 0 rgba(138,177,198,0.48);
	border: solid 1px #d8dde3;
	box-sizing: border-box;
	font-size: 15px !important;
	margin: 0 auto;
	-webkit-transition: .2s linear border,0.2s linear box-shadow;
  -moz-transition: .2s linear border,0.2s linear box-shadow;
  transition: .2s linear border,0.2s linear box-shadow;
}



/** New CSS **/

.gs-row-container, .gs-col-container{
	display: flex;
	flex-wrap: wrap;
}

.gs-row-container{
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.gs-row-container > div {
	padding-left: 4px;
	padding-right: 4px;
}

.gs-col-container{
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}


.gs-col-container > div {
	margin-top: 2px;
	margin-bottom: : 2px;
}

.gs-container-spaces{
	padding-top:4px;
	padding-bottom:2px;
	padding-left: 5px;
	padding-right: 5px;
	
}

.gs-container-line {
	background: #fff;
	color: #000;
	border-bottom: #bc0f0f solid 3px;
	padding: 5px 2px;
}

.gs-grid-container{
	display: grid;
	justify-content: stretch;
}

.gs-empty {
	display:none;
}

.gs-label, .gs-header, .gs-subheader{
    text-transform: uppercase;
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    font-weight: 700;
}

.gs-header {
	font-size: 14px;
}

.gs-subheader {
    color: #838383;
    font-size: 10px;
    text-align: center;
}

.gs-value {
    font-size: 26px;
    line-height: 1;
}

.gs-number {
		font-weight: 500;
}

.gs-sign{
  font-size: 12px;
  color: #838383;
  margin-right: 3px;
	vertical-align: middle;
}

.gs-text {
	font-size: 12px;
}

.gs-prefix {
	position: relative;
  display: inline-block;
	margin-right: 5px;
	color: #838383;
	font-size: 16px;
}

.gs-affix {
    font-size: 16px;
    color: #838383;
    padding-left: 3px;
	vertical-align: super;
}


.gs-flex-values {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.gs-flex-items {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.gs-box{
	margin: 2px;
}

.gs-quick-info{
	position: relative;
	z-index: 1;
	color: #fff;
}

.gs-infobox {
	display:flex;
	flex-direction: row;
	border-top: 1px solid #838383;
	border-bottom: 2px solid #c53131;
	background-color: #404040;
	color: #fff;
	max-width: 400px;
}

.gs-infobox-item.gs-col-container{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.gs-box-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}



.gs-quickStats {
	display:flex;
	justify-content: space-around;

}
.gs-miscellaneous {
	
}

.gs-container .gs-hp {
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	display: flex;
}

.gs-hp-box {
	position:relative;
	width: 70px;
	height: 45px;
}

.gs-hp-value {
	position:relative;
	display: flex;
	flex-direction:column;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: -0.75px;
	height: 100%;
	width: 100%;
}

.gs-hp-cur {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	color: #000;
}

.gs-hp-max {
	font-size: 12px;
	line-height: 1.1;
}

.gs-hp-sep {
	padding: 0 0.5px
	color: #d8d8d8;
}
.gs-hp-label {
	font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
	font-weight: 700;
	/*position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 6px;*/
	color: #fff;
	margin-bottom: 3px;
}
.gs-container .gs-ac {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: #000;
}
.gs-ac-box {
	position:relative;
	width: 79px;
	height: 90px;
}

.gs-ac-label {
	position: relative;
	color: #838383;
	font-size: 10px;
}
.gs-ac-value {
	position: relative;
	font-size: 26px;
	letter-spacing: -1px;
}

.gs-container .gs-intv {
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	display: flex;
}

.gs-intv-box {
	position:relative;
	flex-direction: row;
	width: 70px;
	height: 45px;
}

.gs-intv-value {
	position:relative;
	display: inline-flex;
	align-items: center;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.gs-intv-sign {
	position: absolute;
	right: 120%;
	font-size: 12px;
	color: #838383;
	margin-right: 1px;
}
.gs-intv-label {
	font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
	font-weight: 700;
	/*position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 6px;*/
	color: #fff;
	margin-bottom: 3px;
}

.gs-infobox-item1{
	min-width: 250px;
	max-width: 410px;
}

.gs-main-able {
	/*! min-width: 250px; */
	/*! max-width: 410px; */
}

.gs-main-saves {
	/*! min-width: 200px; */
	/*! max-width: 250px; */
}

.gs-main-able > .gs-container {
	justify-content: space-between;
}

.gs-saves-prefix, .gs-able-prefix  {
	vertical-align: middle;
	margin-top:-4px;
	width: 26px;
}

.gs-main-saves > .gs-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}

.gs-able {
	min-width: 120px;
} 

.gs-saves {
	min-width: 55px;
} 

.gs-header-able {
	padding-left: 4px;
}

.gs-header-saves {
	padding-left: 4px;
}

.gs-able-number {
	display: inline-block;
	min-width: 30px;
}

.gs-able-label, .gs-saves-label{
	text-align: center;
}

.gs-box-callout{
	position:relative;
	flex-direction: row;
	width: 130px;
}

.gs-additonal-sense-value, .gs-additonal-sense-affix{
	font-size: 12px;
}
.gs-additonal-sense-affix{
	vertical-align: unset;
}

.gs-passives-number {
	display: inline-block;
	width: 22px;
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
}

.gs-passives-label{
	display: inline-block;
	padding-left:2px;
	padding-right:6px;
	padding-bottom: 1px;
	text-align: left;
	vertical-align: middle;	

}

.gs-speed {
    text-align: center;
}

.gs-speed-value {
    position: relative;
    font-size: 26px;
    font-weight: 500;
}
.gs-speed-affix {
    font-size: 16px;
    color: #838383;
    /*! margin-left: 3px; */
}

.gs-class  {
	text-align: center;
}

.gs-class-label{
	font-size: 11px;
}
.gs-spellattack-label, .gs-spellsavedc-label, .gs-spellmod-label{
	font-size: 10px;
}

.gs-class .gs-number {
    position: relative;
	line-height: 1.1;
    font-size: 20px;
    font-weight: 500;
}

.cls-a {
	fill:#464646;
}
.cls-b {
	fill:#fff;
}

.cls-c {
	fill:none;
}

.cls-d {
	stroke:#fff;
}

.cls-e {
	stroke:#464646;
}

.cls-h {
	stroke-width:0.65px;
}

.cls-i {
	stroke-width:0.55px;
}

.cls-j {
	stroke-miterlimit:10;
}

