/* Version 2.4.7 CSS */

/** Overriding Existing CSS **/

#site-main > .container {
	max-width: 1400px !important;
}

.page-header {
    max-width: 1400px !important;
}

.ddb-campaigns-character-card-header {
	padding: 5px;
	flex-grow: 1;
}
.ddb-campaigns-character-card-wrapper {
	width: unset;
	max-width: unset;
	display: flex;
}
.rpgcharacter-listing {
	flex-direction: row;
	flex-wrap: wrap;
}
.ddb-campaigns-character-card {
	display: flex;
	flex-direction: column;
	width: 250px;
	/*! width: 30%; */
}

.ddb-campaigns-character-card-footer{
	padding: 0 10px;
}

.gs-box-background .ddbc-svg {
   width: 100%;
   height: 100%;
}

.ddb-campaigns-character-card-header-upper-character-info-primary{
	display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
  word-wrap: normal;

  font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
}

/** New CSS **/

.gs-row-container, .gs-col-container{
	display: flex;
	flex-wrap: wrap;
}

.gs-row-container{
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.gs-row-container > div {
	padding-left: 4px;
	padding-right: 4px;
}

.gs-col-container{
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
}


.gs-col-container > div {
	margin-top: 2px;
	margin-bottom: : 2px;
}

.gs-container-spaces{
	margin-top:4px;
	margin-bottom:2px;
	margin-left: 5px;
	margin-right: 5px;
	
}

.gs-container-line {
	background: #fff;
	color: #000;
	border-bottom: #bc0f0f solid 3px;
	padding: 5px 2px;
}

.gs-grid-container{
	display: grid;
	justify-content: stretch;
}

.gs-label, .gs-header .gs-subheader{
    text-transform: uppercase;
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    font-weight: 700;
}

.gs-header {
    font-size: 12px;
}

.gs-subheader {
    color: #838383;
    font-size: 10px;

	  text-transform: uppercase;
	  font-weight: 700;
}

.gs-value {
    font-size: 26px;
    line-height: 1;
}

.gs-number {
		font-weight: 500;
}

.gs-sign{
  font-size: 12px;
  color: #838383;
  margin-right: 3px;
	vertical-align: middle;
}

.gs-prefix {
	position: relative;
  display: inline-block;
	margin-right: 5px;
	color: #838383;
	font-size: 16px;
}

.gs-affix {
    font-size: 16px;
    position: absolute;
    top: 2px;
    color: #838383;
    margin-left: 3px;
}


.gs-flex-values {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.gs-flex-items {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.gs-box{
	margin: 2px;
}

.gs-infobox {
	display:flex;
	flex-direction: row;
    border-top: 1px solid #838383;
    border-bottom: 2px solid #c53131;
    background-color: #404040;
    color: #fff;
    /*! width: 100%; */
	
}

.gs-infobox-item{
	max-width: 260px;
}

.gs-infobox-item.gs-col-container{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.gs-box-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.gs-quickStats {
	display:flex;
	justify-content: space-around;
	position: relative;
	z-index: 1;
}

.gs-container .gs-hp {
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	display: flex;
}

.gs-hp-box {
	position:relative;
	width: 70px;
	height: 45px;
}

.gs-hp-value {
	position:relative;
	display: flex;
	flex-direction:column;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: -0.75px;
	height: 100%;
	width: 100%;
}

.gs-hp-cur {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	color: #000;
}

.gs-hp-max {
	font-size: 12px;
	line-height: 1.1;
}

.gs-hp-sep {
	padding: 0 0.5px
	color: #d8d8d8;
}
.gs-hp-label {
	font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
	font-weight: 700;
	/*position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 6px;*/
	color: #fff;
	margin-bottom: 3px;
}
.gs-container .gs-ac {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: #000;
}
.gs-ac-box {
	position:relative;
	width: 79px;
	height: 90px;
}

.gs-ac-label {
	position: relative;
	color: #838383;
	font-size: 10px;
}
.gs-ac-value {
	position: relative;
	font-size: 26px;
	letter-spacing: -1px;
}

.gs-container .gs-intv {
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	display: flex;
}

.gs-intv-box {
	position:relative;
	flex-direction: row;
	width: 70px;
	height: 45px;
}

.gs-intv-value {
	position:relative;
	display: inline-flex;
	align-items: center;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.gs-intv-sign {
	position: absolute;
	right: 120%;
	font-size: 12px;
	color: #838383;
	margin-right: 1px;
}
.gs-intv-label {
	font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
	font-weight: 700;
	/*position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 6px;*/
	color: #fff;
	margin-bottom: 3px;
}
.gs-main-able .gs-able-value::before, .gs-main-saves .gs-saves-value::before{
	/*! content: ''; */
	background-size: cover;
	background-position: center center;
	display: inline-block;
	margin-right: 5px;
	height: 16px;
	width: 16px;
	margin-bottom: -2px;
}


.gs-saves-str .gs-value::before, .gs-able-str .gs-value::before {
	background-image: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/abilities/strength.svg);
}
.gs-saves-dex .gs-value::before, .gs-able-dex .gs-value::before {
	background-image: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/abilities/dexterity.svg);
}
.gs-saves-con .gs-value::before, .gs-able-con .gs-value::before {
	background-image: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/abilities/constitution.svg);
}
.gs-saves-int .gs-value::before, .gs-able-int .gs-value::before {
	background-image: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/abilities/intelligence.svg);
}
.gs-saves-wis .gs-value::before, .gs-able-wis .gs-value::before {
	background-image: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/abilities/wisdom.svg);
}
.gs-saves-cha .gs-value::before, .gs-able-cha .gs-value::before {
	background-image: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/abilities/charisma.svg);
}

.gs-main-able {
	min-width: 260px;
	max-width: 410px;
}

.gs-main-saves {
	min-width: 200px;
	max-width: 300px;
}

.gs-main-able > .gs-container {
	justify-content: space-between;
}

.gs-saves-prefix, .gs-able-prefix  {
	vertical-align: middle;
	margin-top:-4px;
	width: 26px;
}

.gs-main-saves > .gs-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}

.gs-able {
	min-width: 120px;
} 

.gs-saves {
	min-width: 55px;
} 

.gs-able-number {
	display: inline-block;
	min-width: 30px;
}

.gs-able-label, .gs-saves-label{
	text-align: center;
}

.gs-box-callout{
	position:relative;
	flex-direction: row;
	width: 130px;
}

.gs-passives-number{
	display: inline-block;
	width: 22px;
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
}

.gs-passives-label{
	display: inline-block;
	padding-left:2px;
	padding-right:6px;
	padding-bottom: 1px;
	text-align: left;
	vertical-align: middle;	

}

.gs-speed {
    text-align: center;
}

.gs-speed-value {
    position: relative;
    font-size: 26px;
    font-weight: 500;
}
.gs-speed-affix {
    font-size: 16px;
    position: absolute;
    top: 2px;
    color: #838383;
    margin-left: 3px;
}

.gs-class  {
	text-align: center;
}

.gs-class-label{
	font-size: 10px;
}

.gs-savedc-number {
    position: relative;
	line-height: 1.1;
    font-size: 20px;
    font-weight: 500;
}

.cls-a {
	fill:#464646;
}
.cls-b {
	fill:#fff;
}

.cls-c {
	fill:none;
}

.cls-d {
	stroke:#fff;
}

.cls-e {
	stroke:#464646;
}

.cls-h {
	stroke-width:0.65px;
}

.cls-i {
	stroke-width:0.55px;
}

.cls-j {
	stroke-miterlimit:10;
}

