.genStats {
    border-top: 1px solid #838383;
    border-bottom: 2px solid #c53131;
    background-color: #404040;
    color: #fff;
    width: 100%;
    height: 71px;
}
.genStats__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}
.genStats__module {
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}
.genStats__heading {
    font-size: 12px;
}
.genStats__value {
    font-size: 26px;
    font-weight: 500;
    line-height: 27px;
}
.genStats__footer {
    font-size: 13px;
}
.genStats__label {
    text-transform: uppercase;
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    font-weight: 700;
}
.genStats__number {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}
.genStats__number--large {
    position: relative;
}